/* 
ul {
  list-style-type: lower-armenian;
}
li {
  background-color: #EEE;
  margin-bottom: 20px;
} */



/* table {
  width: 100%;
  border: 1px solid #CCC;
  border-spacing: 0;
}
table td {
  padding: 15px;
  background-color: #EEE;
  border: 1px solid #CCC;
}
table thead td {
  background-color: #f44336;
  color: #FFF;
  font-weight: bold;
  text-align: center;
  border-color: #F35246;
} */


/* a:hover {
  color: red;
}

.ch:checked {
  display: none;
}
.in:focus {
  border-color: red;
  outline: none
} */



/* Pseudo Elements – First Letter, First Line, Selection  */

/* .two::first-letter {
  display: inline-block;
  background-color: red;
  color: white;
  font-size: 60px;
  font-weight: bold;
}
.three::first-line {
  font-weight: bold;
  color: green;
}
::selection {
  background-color: black;
  color: yellow;
}
 */


/* Before, After, Content */

/* content: attr(data-text); */



/* 
.parent {
  margin-bottom: 20px;
  overflow: hidden;
  counter-increment: members-counter;
}

.one::after {
  content: counter(members-counter);
  position: absolute;
  background-color: red;
  color: white;
  width: 20px;
  height: 20px;
  text-align: center;
  font-weight: bold;
  right: -10px;
  top: 50%;
  margin-top: -10px;
} */



/* Prefixes */

/* -webkit- => Chrome, Safari, New Opera Version
-moz- => Firefox
-ms- => Ie, Edge
-o- => Old Version of Opera


.class {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
} */



/* border-radius  */
/* Transition */

/* !Important  */

/* Box Model And Box Sizing */
/* * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
} */


/*
  CSS Variables
  - Global Variable
  - Local Variable
  var(Variable Name, Fall Back Value)
*/

/* :root {
  --mainColor: blue;
  --mainPadding: 10px;
}
.main {
  background-color: var(--mainColor, black);
  color: white;
  padding: calc(20px + var(--mainPadding));
}
h2 {
  color: var(--mainColor);
  background-color: #eee;
  padding: var(--mainPadding);
}
p {
  color: var(--mainColor);
  border: 2px solid var(--mainColor);
  padding: var(--mainPadding);
}
a:hover {
  color: var(--mainColor);
}
.local {
  --mainColor: black;
  background-color: var(--mainColor);
  color: white;
} */
/* ====================================== */

/* flex   Direction, Wrap,Justify Content,Align Items,order,flex*/

/* flex-flow: [Flex-Direction] + [Flex-Wrap] */



/* Flex Froggy Game */





/* .parent {
  background-color: #eee;
  width: 100%;
  padding: 20px 0;
}
.parent .one {
  width: calc(100% - 40px);
  background-color: #ddd;
  height: 50px;
  text-align: center;
  line-height: 50px;
  margin: 0 auto 30px;
}

.parent .two {
  width: calc(100% - 40px);
  margin: 0 auto 30px;
}
.parent .two .two_1 {
  background-color: #ddd;
  width: 33%;
  display: inline-block;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.parent .three {
  width: calc(100% - 40px);
  margin:0 auto 30px;
}

.parent .three .three_1 {
  background-color: #ddd;
  width: 49%;
  display: inline-block;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.parent .four {
  width: calc(100% - 40px);
  margin:  auto ;
}

.parent .four_1 {
  width: 49%;
  display: inline-block;
}

.parent .four_1 .four_2 {
  background-color: #ddd;
  width: 49.6%;
  display: inline-block;
  height: 50px;
  text-align: center;
  line-height: 50px;
} */


/* .parent {
  width: 500px;
  height: 500px;
  background-color: #eee;
  position: relative;
}
.parent .one ,.parent .two , .parent .three {
  position: absolute;
  width: 250px;
  height: 250px;
}
.parent .one {
  background-color: rgb(0, 255, 225);
  top: 50px;
  left: 50px;
}
.parent .two {
  background-color: rgb(2, 96, 85);
  top: 100px;
  left: 100px;
}
.parent .three {
  background-color: rgb(255, 68, 0);
  top: 150px;
  left: 150px;
} */
/* 
.parent {
  width: 600px;
  height: 200px;
  background-color: #eee  ;
  position: relative;
  text-align: center;
  margin: 100px auto;
  padding: 50px;
  border-width: 5px;
  border-style: solid;
  border-color: red rgb(0, 242, 255);
}
.parent p {
  color: #555;
  font-size: 25px;
}
.parent .one , .parent .two , .parent .three , .parent .four  {
  width: 50px;
  height: 50px;
  position: absolute;
}
.parent .one {
  top: -30px;
  left: -30px;
  background-color: rgb(0, 242, 255);
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  border-right: 5px solid red;
}
.parent .two {
  bottom: -30px;
  left: -30px;
  background-color: rgb(0, 242, 255);
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  border-right: 5px solid red;
}
.parent .three {
  top: -30px;
  right: -30px;
  background-color: rgb(0, 242, 255);
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  border-left: 5px solid red;
}
.parent .four {
  bottom: -30px;
  right: -30px;
  background-color: rgb(0, 242, 255);
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  border-left: 5px solid red;
} */